.masthead{
    padding: 80px;
    background-image: url("https://wallpapertag.com/wallpaper/full/d/3/c/968676-hi-res-background-images-2651x1813-retina.jpg");
    background-size: cover;

    background-repeat: no-repeat;
}