/* .testimonial-item {
    padding: 30px;
    min-width: 400px;
}

.testimonial-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
} */
.testimonial-item {
    padding: 30px;
    min-width: 400px;
}

.testimonial-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}